<!DOCTYPE html>
<html>
  <head>
    <title>Title Case</title>
  </head>
  <body>
    <div class="container">
      <h1>Title Case Translator</h1>
      <p>Enter a phrase you would like to put into title case.</p>
      <form action='/view_title_case'>
        <div class='form-group'>
          <label for='phrase'>Phrase:</label>
          <input id='phrase' name='phrase' class='form-control' type='text'>
        </div>
      </form>
    </div>
  </body>
</html>
